# Ignora tudo exceto src e arquivos específicos da raiz
/*
!/src/
!README.md
!.gitignore
!Makefile
!/tests/
!/tests/**

# Ignora arquivos gerados dentro de src
/src/parser/Lexer.java
/src/parser/Lexer.java~
/src/parser/Terminals.java
/src/parser/Parser.java

# Ignora diretórios auxiliares
/bin/
/lib/
/.vscode/
/tools/
/input.txt
